// * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
//   }


  .App {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .App-header {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 50px;
  }